@import 'react-resizable/css/styles.css';

.resizable-container {
  position: relative;

  & .resizable-box {
    position: absolute;
    left: 0;
    top: 0;
    background-clip: padding-box;

    & .resizable-handler {
      position: absolute;
      right: -5px;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 10px;
      height: 100%;
      cursor: col-resize;

      & .resizable-line {
        width: 4px;
        height: 100%;
        border-radius: 8px;
        transition: background-color 0.2s;
      }

      &:active,
      &:hover {
        cursor: col-resize;

        & .resizable-line {
          background: var(--primary-color, '#000');
        }
      }
    }

    & .resizable-fake-box {
      width: 100%;
      height: 100%;
    }
  }

  & .resizable-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 0;
  }
}
